@font-face {
  font-family: 'trip_sansregular';
  src: url('trip-sans-webfont.woff2') format('woff2'),
       url('trip-sans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


*,*::after,*::before{
  box-sizing: border-box;
}



@font-face {
  font-family: 'trip_sansultra';
  src: url('trip-sans-ultra-webfont.woff2') format('woff2'),
       url('trip-sans-ultra-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}




@font-face {
  font-family: 'trip_sansbold';
  src: url('trip-sans-bold-webfont.woff2') format('woff2'),
       url('trip-sans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'trip_sansbold';
  src: url('trip-sans-bold-webfont.woff2') format('woff2'),
       url('trip-sans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Estilo do fundo escuro */
.fundo-escuro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Estilo do componente de cadastro centralizado */
.cadastro-centralizado {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

